.slider {
  position: relative;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.slide {
  min-width: 100%;
  height: 80%;
  transition: 0.5s;
}
#goLeft {
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 10%;
  height: 80%;
  background: none;
  border: none;
  outline: none;
  transition: 0.5s;
}
#goLeft:hover {
  background: rgba(0, 0, 0, 0.356);
  cursor: pointer;
}
#goRight {
  right: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 10%;
  height: 80%;
  background: none;
  border: none;
  outline: none;
  transition: 0.5s;
}
#goRight:hover {
  background: rgba(0, 0, 0, 0.356);
  cursor: pointer;
}
.corousel-img {
  width: 100%;
  height: 100%;
}
